{% set title = "Books" %}

{% extends "base.html" %}

{% block content %}
	{% if books %}
		<table>
			<tr>
				<td>Book name</td>
				<td>Description</td>
				<td></td>
				<td></td>
			</tr>
			
			{% for book in books %}
			
			<tr>			
				<td>{{ book.name }}</td>
				<td>{{ book.description }}</td>
				<td><a href="/books/edit/{{ book.id }}">Edit</a></td>
				<td><a href="/books/delete/{{ book.id }}">Delete</a></td>
			</tr>
						
			{% endfor %}
		</table>
	{% endif %}
{% endblock content %}